@import "compass";
@import "base/_skeleton";
@import "base/_prettyPhoto";
@import "base/_flexslider";
@import "base/_default_styles";

/* Wedding Banner */
.wedding-banner {
    height: 78px;
    margin: 30px auto 0;
    padding: 15px 30px;
    width: 500px;
}

h1.page-title {
  @extend h2.page-title;
  font-size: 24px;
  line-height: 34px;
}

.normal {
  margin-top: 94px;
}


.mosaicflow__column {
    float:left;
}
.mosaicflow__item {
  a { display: block; }
  img {
    display:block;
    height:auto;
    width:100%;

  }
}

// /* In your CSS */
// .Collage{

//     /* define how much padding you want in between your images */
//     padding:10px;

//     }

// .Collage img{

//     vertical-align:bottom;


//     }

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #controls-wrapper { display: none !important; }
    #navigation { margin-bottom: 15px; }
    .wedding-banner {
        height: auto;
        margin-top: 10px;
        padding: 10px 15px;
        width: auto;
        img { width: 100%; }
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    #controls-wrapper { display: none !important; }
    #navigation { margin-bottom: 15px; }
    .wedding-banner {
        height: auto;
        margin-top: 10px;
        padding: 10px 15px;
        width: auto;
        img { width: 100%; }
    }
}
