@import "compass/css3";
@import "base/_skeleton";
@import "base/_flexslider";
@import "base/_fancybox";
@import "base/_default_styles";

body {
  margin: 0 important;
  padding: 0 !important;
}

/* Wedding Banner */
.wedding-banner {
    height: 111px;
    margin: 30px auto 0;
    padding: 15px 30px;
    width: 598px;
}

h1.page-title {
  @extend h2.page-title;
  font-size: 24px;
  line-height: 34px;
}
.nav a { text-transform: uppercase; }
.inner .normal { margin-top: 61px; }
.col-listing { margin-top: 0;}

#gallery {
  #header { margin-top: 30px; }
  .normal { margin-top: 61px; }
}
.gallery {
  text-align: center;
  .item {
    display: inline-block;
    height: 235px;
    margin: 0 16px 16px 0;
    @include box-shadow(#ccc 2px 2px 10px);
    a { display: block; }
  }
}

/* footer logo */
footer .logo {
  margin: 10px auto;
  text-align: center;
  width: 200px;
}
#home footer .logo {
  left: -1000em;
  position: absolute;
}

/* contact - about us
------------------------------------------------- */
.widget_about {
  .photo {
    height: 125px;
    width: 125px;
  }
  img { width:100%; }
}
/* / contact - about us
------------------------------------------------- */


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #controls-wrapper { display: none !important; }
    #navigation { margin-bottom: 15px; }

    .wedding-banner {
        height: auto;
        margin-top: 10px;
        padding: 10px 15px;
        width: auto;
        img { width: 100%; }
    }
    .col-listing { padding-bottom: 15px; }
    .inner .normal {
      margin-top: 86px;
      top: 0;
    }

    // pages - gallery
    #gallery {
      .normal { margin-top: 86px; }
    }
    /* contact - about us
    ------------------------------------------------- */
    .widget_about {
      .photo {
        float: left;
        margin: 0 15px 30px 0;
      }
    }
    /* / contact - about us
    ------------------------------------------------- */
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    #controls-wrapper { display: none !important; }
    #navigation { margin-bottom: 15px; }

    .wedding-banner {
        height: auto;
        margin-top: 10px;
        padding: 10px 15px;
        width: auto;
        img { width: 100%; }
    }
    .inner .normal {
      margin-top: 105px;
      top: 0;
    }
    .col-listing { padding-bottom: 15px; }

    // pages - gallery
    #gallery {
      .normal { margin-top: 105px; }
    }
    /* contact - about us
    ------------------------------------------------- */
    .widget_about {
      .photo {
        height: auto;
        width: 100%;
      }
      img { width:100%; }
    }
    /* / contact - about us
    ------------------------------------------------- */

}
