{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

{% include footer.disqus.html %}
{% include footer.facebook_like.html %}
{% include footer.google_plus_one.html %}
{% include footer.twitter_sharing.html %}

    <!-- JS resources
    ================================================== -->
    <script>
        LazyLoad.js([
//            '{{baseurl}}{{ site.js }}/libs/modernizr.js',
//            '{{baseurl}}{{ site.js }}/libs/jquery.1.10.2.min.js',
//            '{{baseurl}}{{ site.js }}/libs/mediaelement.min.js',
//            '{{baseurl}}{{ site.js }}/libs/jquery.easing.min.js',
//            '{{baseurl}}{{ site.js }}/libs/supersized.3.2.7.min.js',
//            '{{baseurl}}{{ site.js }}/libs/supersized.shutter.js',
//            '{{baseurl}}{{ site.js }}/libs/jquery.mousewheel.min.js',
//            '{{baseurl}}{{ site.js }}/libs/jquery.fancybox.2.1.5.min.js',
            '{{baseurl}}{{ site.js }}/min/scripts.min.js'
        ], function () {
          console.log('all files have been loaded');
          $().ready(function($) {

            // fullpage slider = true ------------/
              {% if page.homeslider == true %}
                $.supersized({
                    autoplay                :   1,
                    random                  :   1,
                    slide_interval          :   5000,
                    transition              :   1,
                    transition_speed        :   700,
                    slide_links             :   'blank',
                    slides                  :   [
                    {% for img in page.slides %}
                        {image : '{{baseurl}}{{ site.assets }}{{ img }}'}{% unless forloop.last %},{% endunless %}
                    {% endfor %}
                    ]
                });
              {% else %}
                // no full page slider -----------------/
                $("#supersized-loader").remove();
              {% endif %}

              {% if site.song.autoplay %}
                window.player = setAudio("{{ site.audio }}/{{site.song.filename}}");
                window.autoPlay = {{ site.song.autoplay }};
                window.audioPlaying = true;

                if (window.autoPlay){
                  // autoplay
                  player.trigger("play");
                  // play/pause button actions
                  $("#pauseplay").on("click", function(){
                    // styling toggle
                    $(this).toggleClass("sz-play");
                    // check if audio is playing
                    if (window.audioPlaying){
                     pauseAudio(window.player);
                      window.audioPlaying = false;
                    } else {
                      playAudio(window.player);
                      window.audioPlaying = true;
                    }
                  });
                }
              {% endif %}

              {% if page.url == "/" %}
                //audio on
                // $.ionSound.play("rose");
              {% else %}
                  // fancy box popup for large images
                  $(".fancybox").fancybox();
                  // lazy load
                  $("img.lazy").lazyload({
                      threshold : 200
                  });
                // audio off
              {% endif %}

            });
        }); //end LazyLoad.js
    </script>

{% comment %}
    Dirty Dirty Google Analytics
{% endcomment %}

{% include google_analytics.html %}
