{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

{% include footer.disqus.html %}
{% include footer.facebook_like.html %}
{% include footer.google_plus_one.html %}
{% include footer.twitter_sharing.html %}

  <b id="t" class="brd"></b>
  <b id="l" class="brd"></b>
  <b id="r" class="brd"></b>
  <b id="b" class="brd"></b>

    <!-- JS resources
    ================================================== -->

    <script>
        LazyLoad.js([
            '{{ site.js }}/libs/modernizr.js',
            '{{ site.js }}/libs/jquery.1.6.1.min.js',
            '{{ site.js }}/libs/jquery.easing.min.js',
            '{{ site.js }}/libs/superfish.js',
            '{{ site.js }}/libs/supersized.3.2.7.min.js',
            '{{ site.js }}/libs/supersized.shutter.js',
            '{{ site.js }}/libs/scripts.js',
            '{{ site.js }}/libs/jquery.prettyPhoto.js',
            '{{ site.js }}/libs/jquery.mosaicflow.min.js'
        ], function () {
          console.log('all files have been loaded');
          $().ready(function($) {



                $.supersized({
                    autoplay                :   1,
                    random                  :   1,
                    slide_interval          :   5000,
                    transition              :   1,
                    transition_speed        :   700,
                    slide_links             :   'blank',
                    slides                  :   [
                    {% for img in page.homeslider_images %}
                        {image : '{{ site.assets }}{{ img }}'}{% unless forloop.last %},{% endunless %}
                    {% endfor %}
                    ]
                });


            });
        }); //end LazyLoad.js
    </script>

  {% if page.url contains "contact" %}
      <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  {% endif %}

{% comment %}
    Dirty Dirty Google Analytics
{% endcomment %}

{% include google_analytics.html %}

</body>
</html>
