{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

{% include footer.disqus.html %}
{% include footer.facebook_like.html %}
{% include footer.google_plus_one.html %}
{% include footer.twitter_sharing.html %}

    <!-- JS resources
    ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>
        LazyLoad.js([
            '{{baseurl}}{{ site.js }}/libs/modernizr.js',
            // '{{baseurl}}{{ site.js }}/libs/jquery.1.10.2.min.js',
            '{{baseurl}}{{ site.js }}/libs/jquery.easing.min.js',
            // '{{baseurl}}{{ site.js }}/libs/superfish.js',
            '{{baseurl}}{{ site.js }}/libs/supersized.3.2.7.min.js',
            '{{baseurl}}{{ site.js }}/libs/supersized.shutter.js',
            '{{baseurl}}{{ site.js }}/libs/scripts.js',
            '{{baseurl}}{{ site.js }}/libs/jquery.prettyPhoto.js',
            '{{baseurl}}{{ site.js }}/libs/jquery.mosaicflow.0.2.5.min.js'
        ], function () {
          console.log('all files have been loaded');
          $().ready(function($) {

            {% comment %}
            Homepage actions {% endcomment %}

              {% if page.homeslider == true %}
                $.supersized({
                    autoplay                :   1,
                    random                  :   1,
                    slide_interval          :   5000,
                    transition              :   1,
                    transition_speed        :   700,
                    slide_links             :   'blank',
                    slides                  :   [
                    {% for img in page.homeslider_images %}
                        {image : '{{baseurl}}{{ site.assets }}{{ img }}'}{% unless forloop.last %},{% endunless %}
                    {% endfor %}
                    ]
                });
                {% else %}

                  {% comment %}
                    hide the loader
                  {% endcomment %}

                  $("#supersized-loader").remove();


                  // $('#mycontainer').mosaicflow({
                  //     itemSelector: '.item',
                  //     minItemWidth: 300
                  // });


                {% endif %}
                {% if page.url contains "/contact" %}
                LazyLoad.js('https://maps.googleapis.com/maps/api/js?sensor=false',
                function(){
                  console.log("Google Maps js laoded");
                });
                {% endif %}
            });
        }); //end LazyLoad.js
    </script>

{% comment %}
    Google maps

  {% if page.url contains "/contact" %}
      <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  {% endif %}
{% endcomment %}

{% comment %}
    Dirty Dirty Google Analytics
{% endcomment %}

{% include google_analytics.html %}
