    <aside class="widget_ci_about_widget widget group">
        <h3><span>About Weditorials</span></h3>
        <div class="widget_about group">
            <div class="photo alignleft"><img src="{{site.img}}/weditorials_alyssa_jouk.jpg" class="" alt="Weditorials Founder - Alyssa Jouk"></div>Hi I'm Alyssa, and I'm part of the friendly team at Weditorials Wedding and Engagement Photography. We love to capture every little moment of your special day, and we always do so with a smile, So, you get beautifully natural photos that you will love. We are all about making it <strong>FUN - Friendly. Unobtrusive. Natural</strong>.
        </div>
    </aside>


    <aside class="widget group group">
        <h3 class="double"><span>As Featured In</span></h3>

        <div class="widget_about group">
          <img src="{{site.img}}/as_featured_in.png" alt="Weditorials have been featured in number of publications" />
        </div>

    </aside>

    <aside class="widget group group">
        <h3 class="double"><span>Social</span></h3>

        {% include social_network.html name="facebook" url=site.facebook %}
        {% include social_network.html name="pinterest" url=site.pinterest %}
        {% include social_network.html name="instagram" url=site.instagram custom=true %}

    </aside>
