{% comment %}
<footer role="contentinfo">
<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
</footer
{% endcomment %}

<footer class="container">
    <div class="logo">
      <a href="http://www.weditorials.co.nz/" title="Weditorials NZ"><img src="{{ site.baseurl }}{{ site.img }}/weditorials_photography_auckland_new_zealand.png" alt="Weditorials Wedding Phogtography in Auckland, New Zealand" /></a>
    </div>
</footer>
