<div class="twelve columns omega">
  <nav id="navigation">
      <ul class="nav group">
          <li>
              <a href="{{ site.url }}/getting-ready/" {% if page.url contains "getting-ready" %}class="active"{% endif %}>Getting Ready</a>
          </li>
          <li>
              <a href="{{ site.url }}/ceremony/" {% if page.url contains "ceremony" %}class="active"{% endif %}>Ceremony</a>
          </li>
          <li>
              <a href="{{ site.url }}/photo-fun/" {% if page.url contains "photo-fun" %}class="active"{% endif %}>Photo Fun</a>
          </li>
          <li>
              <a href="{{ site.url }}/reception/" {% if page.url contains "reception" %}class="active"{% endif %}>Reception</a>
          </li>
          <li>
              <a href="{{ site.url }}/contact/" {% if page.url contains "contact" %}class="active"{% endif %}>Contact</a>
          </li>
      </ul>
  </nav><!-- /navigation -->
</div>
