<div class="twelve columns omega">
  <nav id="navigation">
      <ul class="nav group">
          <li>
              <a href="{{ baseurl }}/ceremony/" {% if page.url == "/ceremony" %}class="active"{% endif %}>Ceremony</a>
          </li>
          <li>
              <a href="{{ baseurl }}/family-and-friends/" {% if page.url == "/family-and-friends" %}class="active"{% endif %}>Family &amp; Friends</a>
          </li>

          <li>
              <a href="{{ baseurl }}/photo-fun/" {% if page.url == "/photo-fun" %}class="active"{% endif %}>Photo Fun</a>
          </li>
          <li>
              <a href="{{ baseurl }}/reception/" {% if page.url == "/reception" %}class="active"{% endif %}>Reception</a>
          </li>
          <li>
              <a href="{{ baseurl }}/contact/" {% if page.url == "/contact" %}class="active"{% endif %}>Contact</a>
          </li>
      </ul>
  </nav><!-- /navigation -->
</div>
